@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

#luminavi-heading {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
}

body {
    font-family: sans-serif;
}